/target
**/*.rs.bk
**/target/
**/template
/node_modules/
**/node_modules/
log/
**/log/


## 排除文件类型
*.zip
.rar
.DS_Store
*.lock
*.log
*.conf
*.yml

## delete remote file
# git rm --cache filename

# git rm -r -n --cached  */src/\*      //-n：加上这个参数，执行命令时，是不会删除任何文件，而是展示此命令要删除的文件列表预览。
# git rm -r --cached  */src/\*      //最终执行命令.